.footer-block {
  font-size: 0.9rem;
}

.footer-block__link {
  color: #fff;
  background-color: inherit;
  font-weight: 700;
}

.footer-block__title {
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (min-width: 60rem) {
  .footer-block__title {
    padding-top: 2rem;
  }
}

.footer-block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 60rem) {
  .footer-block__wrapper {
    flex-direction: row;
  }
}
